
@font-face {
    font-family: 'GilroyExtraBold';
    src: url('fonts/Gilroy/Gilroy-ExtraBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    
}
@font-face {
    font-family: 'GilroyLight';
    src: url('fonts/Gilroy/Gilroy-Light.otf') format('opentype');
    font-weight: light;
    font-style: normal;
}

body{
    width: 300px;
    background-color: white;
    border: 2px solid black;
    padding: 10px;
    
}


h1{
    font-family: GilroyExtraBold;
    color: #5F5CF0;
}

.todo-items, .todo-items li{
    margin:0;
    padding: 0;
    list-style: none;
}

.todo-items li{
    font-family: GilroyLight;
    padding: 10px;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    letter-spacing: 1px;
}

.todo-items li:hover{
    background: #CDC1FF;
}

.todo-items li.done .item{
    text-decoration: line-through;
}



.todo-items div span{
    margin: 5px;
    font-size: 1em;
    border: 3px solid transparent;
}

.todo-items div span:hover{
    font-size: 1em;
    cursor: pointer;
    border: 3px solid #624E88;
    border-radius: 8px;
    background-color: #624E88;
        
}

.new-item {
    display: none;
}

#botao {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  transition: all .2s ease-in-out;
  
}

#botao:hover{

    transform: scale(1.1);
    transition: width 2s, height 4s;

}
